<!DOCTYPE html>
<html>
    <title>Trumpepe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/style.css">
    <body>
        <div class="wrapper">
            <img class="pepe" src="/static/images/pepe/pepe_was_ist_dein_name.png">
            <table>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Tries</th>
                </tr>
                {% for i in range(0,len) %}
                    <tr>
                        <td>{{ i+1 }}</td>
                        <td>{{ tasks['highscore'][i][0] }}</td>
                        <td>{{ tasks['highscore'][i][1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
        <div id='game'>
            <div class='input'>
                <h1 class='text'>Was geht {{ tasks['username'] }}</h1>
                <form>
                    <input type=text name=guessed_number>
                    <input type=submit name=submit value=Enter>
                </form>
                {% if tasks['task'] %}
                    <h1 class='text'>{{ tasks['task'][0] }}</h1>
                    <img id='image' src="/static/images/{{ tasks['task'][1] }}">
                {% endif %}
                <div style='clear: both;'></div>
            </div>
            <h1 class="text" style="padding-left: 20px;">Das war dein {{ tasks['try'] }}er Versuch</p>
        </div>
        
    </body> 
</html>